<section class="thirteen columns">
    <div class="section-header d-flex justify-content-between align-items-center mt-4">
        <span>HONORS & AWARDS</span>
      </div> 
      <div class="awards-grid">
        <article style="margin-bottom:0px">
          <header>2009</header>
          <p><em>Second prize in Microsoft's Imagine Cup competition in Vietnam</em></p>
        </article>
        <article style="margin-bottom:0px">
          <header>2010</header>
          <p><em>Merit Certificate from Vietnam's Ministry of Education for top students</em></p>
        </article>
        <article style="margin-bottom:0px">
          <header>2016</header>
          <p><em>Winning team of the first Agro Hackathon, Montpellier, France</em></p>
        </article>
      </div>
</section>