<section class="thirteen columns">
    <h1>Honors and Awards</h1>    
    <article>
        <header>
            <h1>2009</h1>
        </header>
        <p><em>Second prize in Microsoft's Imagine Cup competition in Vietnam</em></p>
    </article>
    <article>
        <header>
            <h1>2010</h1>
        </header>
        <p><em>Certificate of Merit from the Minister of Education and Training of Vietnam for the best students</em></p>
    </article>
    <article>
        <header>
            <h1>2016</h1>
        </header>
        <p><em>Member of the winning team of the first Agro Hackathon, Montpellier, France</em></p>
    </article>
</section>