<section>
    <div class="section-header">
        <span class="section-header-title"><i class="fas fa-trophy section-header-icon" aria-hidden="true"></i>HONORS &amp; AWARDS</span>
      </div>
      <div class="awards-grid">
        <article>
          <header>2009</header>
          <p><em>Second prize in Microsoft's Imagine Cup competition in Vietnam</em></p>
        </article>
        <article>
          <header>2010</header>
          <p><em>Merit Certificate from Vietnam's Ministry of Education for top students</em></p>
        </article>
        <article>
          <header>2016</header>
          <p><em>Winning team of the first Agro Hackathon, Montpellier, France</em></p>
        </article>
      </div>
</section>
