<section class="thirteen columns">
    <div class="section-header d-flex justify-content-between align-items-center mt-4">
        <span>EDUCATION</span>
      </div>
   <!-- PhD -->
  <div class="education-card" style="margin-top:20px;">
    <div class="edu-header">
      <h4>PhD Researcher in Computer Science</h4>
      <div class="experience-meta">
        <span class="left-meta"><i class="fa fa-university fa-xs"></i> IMT Atlantique</span>
        <span class="center-meta"><i class="fas fa-map-marker-alt"></i> Brest, France</span>
        <span class="right-meta"><i class="fa fa-calendar-alt"></i> Nov 2016 - Sep 2020</span>
      </div>
    </div>
    <p>Thesis: French Language Discourse Representation Structure Parsing</p>
  </div>

  <!-- Master -->
  <div class="education-card">
    <div class="edu-header">
      <h4>Master's Degree in Intelligent Systems and Multimedia</h4>
      <div class="experience-meta">
        <span class="left-meta"><i class="fa fa-university fa-xs"></i> University of La Rochelle</span>
        <span class="center-meta"><i class="fas fa-map-marker-alt"></i> La Rochelle, France</span>
        <span class="right-meta"><i class="fa fa-calendar-alt"></i> Sep 2013 - Apr 2015</span>
      </div>

      <small class="edu-note">
        Double degree obtained at the Institut Francophone International (Ha Noi, Vietnam) - Computer Science
      </small>
    </div>
    <p>Thesis: Development of a Knowledge System for Big Data: Application to Phenotyping Data of Rice (O. Sativa)</p>
  </div>

  <!-- Engineering -->
  <div class="education-card"  style="margin-bottom:0px">
    <div class="edu-header">
      <h4>Engineering Degree in Software Engineering</h4>
      <div class="experience-meta">
        <span class="left-meta"><i class="fa fa-university fa-xs"></i> University of Dalat</span>
        <span class="center-meta"><i class="fas fa-map-marker-alt"></i> Dalat, Vietnam</span>
        <span class="right-meta"><i class="fa fa-calendar-alt"></i> Sep 2006 - Jan 2011</span>
      </div>
    </div>
    <p>Thesis: Design and Development of an Online Learning System Supporting Elementary Students</p>
  </div>
</section>
