<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>Phd Researcher in Computer Science</h1>
            <span>IMT Atlantique</span>
            <span><address>Brest, France</address><time>Novembre 2016 to Septembre 2020</time></span>
        </header>
        <p>
            <em>Thesis: French Language Discourse Represenation Structure Parsing</em>
        </p>
    </article>
    <article>
        <header>
            <h1>Master Degree, Intelligent System and Multimedia</h1>
            <span>University of La Rochelle</span>
            <span><address>La Rochelle, France</address><time>Septembre 2013 to April 2015</time></span>
            <span>Double degree obtained during my master studies at the Institut Francophone International (Ha Noi, Viet Nam) for Computer Science specialist</span>
        </header>
        <p>
            <em>Thesis: Developpment of a Knowledge System for Big Data: Application to Phenotyping Data of Rice (O.Sativa)</em>
        </p>
    </article>
    <article>
        <header>
            <h1>Information Technology Engineering Degree, Software Engineering</h1>
            <span>Universtity of Da Lat</span>
            <span><address>Da Lat, Viet Nam</address><time>Septembre 2006 to January 2011</time></span>
        </header>
        <p>
            <em>Thesis: Design and Development of an Online Learning System Supporting for Elementary Students</em>
        </p>
    </article>
</section>
