<section class="thirteen columns">
    <h1>Experience</h1>
    <article>
        <header>
            <h1>Phd Researcher</h1>
            <span><address>Brest, France</address><time>11/2016 to 09/2020</time></span>
        </header>
        <p class="justify">Study and analyse of the relationship between syntax and semantics for french utterances based on Combinatory Categoral Grammar, in order to apply to building a semantic representation for French language with Discourse Representation Theory. </p>
    </article>
    <article>
        <header>
            <h1>Lecturer</h1>
            <span><address>Dalat University, Viet Nam</address><time>2011 to 2019</time></span>
        </header>
        <p  class="justify">Teaching for the first year students with the course "Information Technology fundamentals" and the courses in the software engineering domain such as "Java Programming", "Web Development", "Algorithm and Data Structure".</p>
    </article>
    <article>
        <header>
            <h1>Software Engineer</h1>
            <span><address>Freelance</address><time>2011 to 2013</time></span>
        </header>
        <p  class="justify"> Design and implementation of web-based and Window-based applications according to the requirements of organisations and companies at Da Lat city by using .NET frameworks with C#, ASP.NET and SQL. 
        </p>
    </article>
    <article>
        <header>
            <h1>Master Intership</h1>
            <span><address>Montpelier, France</address><time>April 2015 to Octobare 2015</time></span>
        </header>
        <p  class="justify"> Study and developpment of a knowledge system for big data: application to phenotyping data of rice (O.Sativa) based on semantic web technology with RDF data formats, ontologies in association with big data management systems such as MongoDB and Neo4j. 
        </p>
    </article>
</section>
