<section class="thirteen columns">
    <h1>Experience</h1>
    <article>
        <header>
            <h1>Researcher</h1>
            <span><address>Compiègne, France</address><time>05/2021 to 11/2023</time></span>
        </header>
        <p class="justify">Constructed a recommendation system for vehicle buying and selling. Developed ontology for vehicle models and transactions, proposed a user profile-based ontology, introduced a method for estimating semantic similarity of RDF data, and built a personalized recommendation system using Protégé, SPARQL, Allegrograph, and Python.</p>
    </article>
    <article>
        <header>
            <h1>Phd Researcher</h1>
            <span><address>Brest, France</address><time>11/2016 to 09/2020</time></span>
        </header>
        <p class="justify">Proposed approaches for automatically constructing Combinatory Categorial Grammar (CCG) trees and ontologies to find missing information in appointment requests at Crédit Mutuel ARKÉA. Developed a novel method for analyzing grammatical dependency structure, created a new resource for French CCG trees, proposed a supervised sequence-to-sequence model for GCC super-labeling, and introduced a method for semantic representation of French discourse. </p>
    </article>
    <article>
        <header>
            <h1>Lecturer</h1>
            <span><address>Dalat University, Viet Nam</address><time>06/2011 to 11/2019</time></span>
        </header>
        <p  class="justify">Teaching for the first year students with the course "Information Technology fundamentals" and the courses in the software engineering domain such as "Java Programming", "Web Development", "Algorithm and Data Structure".</p>
    </article>
    <article>
        <header>
            <h1>Software Engineer</h1>
            <span><address>Freelance</address><time>2011 to 2013</time></span>
        </header>
        <p  class="justify"> Designed and implemented web and Windows applications based on the requirements of organizations and businesses in Da Lat, using .NET frameworks with C#, ASP.NET, and SQL. 
        </p>
    </article>
    <article>
        <header>
            <h1>Master Intership</h1>
            <span><address>Montpelier, France</address><time>04/2015 to 10/2015</time></span>
        </header>
        <p  class="justify"> Study and developpment of a knowledge system for big data: application to phenotyping data of rice (O.Sativa) based on semantic web technology with RDF data formats, ontologies in association with big data management systems such as MongoDB and Neo4j. 
        </p>
    </article>
</section>
