<section class="thirteen columns">
    <div class="section-header d-flex justify-content-between align-items-center mt-4">
        <span>EXPERIENCE</span>
      </div>

      <!-- Job Entry -->
      <div class="experience-card"  style="margin-top:20px;">
        <div class="experience-header">
          <h4>Research & Development Engineer</h4>
          <div class="experience-meta">
            <span class="left-meta"><i class="fa fa-university fa-xs"></i> Gamaizer & UTC - Heudiasyc Lab, France</span>
            <span class="center-meta"><i class="fas fa-map-marker-alt"></i> Paris, France</span>
            <span class="right-meta"><i class="fa fa-calendar-alt"></i> Dec 2024 - May 2026</span>
          </div>
        </div>
        <p>
            <p>
                Designed and developed <span class="tag">knowledge bases</span> for <span class="tag">skill management</span>,
                incorporating <span class="tag">ontologies</span> to represent competencies and
                <span class="tag">learner profiles</span>. Built a <span class="tag">recommender system</span> for
                training programs and courses, tailored to individual
                skill gaps, career objectives, and
                <span class="tag">contextual constraints</span>. Contributed to the development of a
                skill management portal, enhanced with
                <span class="tag">LLMs</span> and <span class="tag">Generative AI</span>.
              </p>      </div>
  <div class="experience-card">
    <div class="experience-header">
      <h4>Post-doctoral Researcher</h4>
      <div class="experience-meta">
        <span class="left-meta"><i class="fa fa-university fa-xs"></i> Vivocaz & UTC - Heudiasyc Lab, France</span>
        <span class="center-meta"><i class="fas fa-map-marker-alt"></i> Compiègne, France</span>
        <span class="right-meta"><i class="fa fa-calendar-alt"></i> May 2021 - Oct 2024</span>
      </div>
    </div>
    <p>
      Built a <span class="tag">recommender system</span> for vehicle buying and selling. Developed <span class="tag">ontologies</span> for vehicle models and transactions, proposed <span class="tag">user profile-based ontologies</span>, introduced a method for estimating RDF <span class="tag">semantic similarity</span>, and implemented a personalized recommender using <span class="tag">Protégé</span>
      , <span class="tag">SPARQL</span>, <span class="tag">AllegroGraph</span>, and <span class="tag">Python</span>.
    </p>
  </div>

  <div class="experience-card">
    <div class="experience-header">
      <h4>PhD Researcher</h4>
      <div class="experience-meta">
        <span class="left-meta"><i class="fa fa-university fa-xs"></i> IMT Atlantique, LAB-STICC Lab</span>
        <span class="center-meta"><i class="fas fa-map-marker-alt"></i> Brest, France</span>
        <span class="right-meta"><i class="fa fa-calendar-alt"></i> Nov 2016 - Sep 2020</span>
      </div>
    </div>
    <p>
      Proposed methods for automatically constructing <span class="tag">CCG</span> trees and ontologies to detect missing info in appointment requests at Crédit Mutuel ARKÉA. Introduced a <span class="tag">supervised sequence-to-sequence model</span> for super-labeling and a new French CCG resource. Developed semantic representations of French discourse.
    </p>
  </div>

  <div class="experience-card">
    <div class="experience-header">
      <h4>Lecturer</h4>
      <div class="experience-meta">
        <span class="left-meta"><i class="fa fa-university fa-xs"></i> Dalat University</span>
        <span class="center-meta"><i class="fas fa-map-marker-alt"></i> Dalat, Vietnam</span>
        <span class="right-meta"><i class="fa fa-calendar-alt"></i> Jun 2011 - Nov 2019</span>
      </div>
    </div>
    <p>
      Taught "Information Technology Fundamentals" to first-year students and courses in Software Engineering: <span class="tag">Java Programming</span>, <span class="tag">Web Development</span>, <span class="tag">Algorithms and Data Structures</span>.
    </p>
  </div>

  <div class="experience-card">
    <div class="experience-header">
      <h4>Software Engineer</h4>
      <div class="experience-meta">
        <span class="left-meta"><i class="fa fa-user"></i> Freelance</span>
        <span class="center-meta"><i class="fas fa-map-marker-alt"></i> Dalat, Vietnam</span>
        <span class="right-meta"><i class="fa fa-calendar-alt"></i> 2011 - 2013</span>
      </div>
    </div>
    <p>
      Designed and developed web and desktop apps for businesses in Da Lat using <span class="tag">.NET frameworks</span> (<span class="tag">C#</span>, <span class="tag">ASP.NET</span>, <span class="tag">SQL</span>).
    </p>
  </div>

  <div class="experience-card"   style="margin-bottom:0px">
    <div class="experience-header">
      <h4>Master Internship</h4>
      <div class="experience-meta">
        <span class="left-meta"><i class="fa fa-university fa-xs"></i> IBC, LIRMM Lab</span>
        <span class="center-meta"><i class="fas fa-map-marker-alt"></i> Montpellier, France</span>
        <span class="right-meta"><i class="fa fa-calendar-alt"></i> Apr 2015 - Oct 2015</span>
      </div>
    </div>
    <p>
      Studied and developed a <span class="tag">knowledge-based system</span> for <span class="tag">big data</span> (phenotyping data of rice - O. Sativa) using <span class="tag">Semantic Web</span> technologies, <span class="tag">RDF</span>, <span class="tag">ontologies</span>, and <span class="tag">big data</span> platforms like <span class="tag">MongoDB</span> and <span class="tag">Neo4j</span>.
    </p>
  </div>
  <!--
    <article>
        <header>
            <h1>Researcher</h1>
            <span><address>Compiègne, France</address><time>05/2021 to 11/2023</time></span>
        </header>
        <p class="justify">Constructed a recommendation system for vehicle buying and selling. Developed ontology for vehicle models and transactions, proposed a user profile-based ontology, introduced a method for estimating semantic similarity of RDF data, and built a personalized recommendation system using Protégé, SPARQL, Allegrograph, and Python.</p>
    </article>
    <article>
        <header>
            <h1>Phd Researcher</h1>
            <span><address>Brest, France</address><time>11/2016 to 09/2020</time></span>
        </header>
        <p class="justify">Proposed approaches for automatically constructing Combinatory Categorial Grammar (CCG) trees and ontologies to find missing information in appointment requests at Crédit Mutuel ARKÉA. Developed a novel method for analyzing grammatical dependency structure, created a new resource for French CCG trees, proposed a supervised sequence-to-sequence model for GCC super-labeling, and introduced a method for semantic representation of French discourse. </p>
    </article>
    <article>
        <header>
            <h1>Lecturer</h1>
            <span><address>Dalat University, Viet Nam</address><time>06/2011 to 11/2019</time></span>
        </header>
        <p  class="justify">Teaching for the first year students with the course "Information Technology fundamentals" and the courses in the software engineering domain such as "Java Programming", "Web Development", "Algorithm and Data Structure".</p>
    </article>
    <article>
        <header>
            <h1>Software Engineer</h1>
            <span><address>Freelance</address><time>2011 to 2013</time></span>
        </header>
        <p  class="justify"> Designed and implemented web and Windows applications based on the requirements of organizations and businesses in Da Lat, using .NET frameworks with C#, ASP.NET, and SQL. 
        </p>
    </article>
    <article>
        <header>
            <h1>Master Intership</h1>
            <span><address>Montpelier, France</address><time>04/2015 to 10/2015</time></span>
        </header>
        <p  class="justify"> Study and developpment of a knowledge system for big data: application to phenotyping data of rice (O.Sativa) based on semantic web technology with RDF data formats, ontologies in association with big data management systems such as MongoDB and Neo4j. 
        </p>
    </article>
    -->
</section>
