
<nav class="navbar navbar-default custom-navbar" id="main-navbar">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
        aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand custom-brand" href="{{ '/' | relative_url }}">
        <img src="{{ '/static/img/lnl4.png' | relative_url }}" width="18" height="18" alt="LNL" decoding="async" style="width:18px;height:18px;vertical-align:middle;margin-right:6px;">
        <span class="hidden-xs" style="font-weight:700;letter-spacing:0;">NGOC LUYEN LE</span>
      </a>
    </div>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav navbar-right">
        <li{% if page.url == '/services.html' %} class="active"{% endif %}><a href="{{ '/services.html' | relative_url }}">ACADEMIC SERVICE</a></li>
        <li{% if page.url == '/publications.html' %} class="active"{% endif %}><a href="{{ '/publications.html' | relative_url }}">PUBLICATIONS</a></li>
        <li{% if page.url == '/projects.html' %} class="active"{% endif %}><a href="{{ '/projects.html' | relative_url }}">PROJECTS</a></li>
        <li{% if page.url == '/resume.html' %} class="active"{% endif %}><a href="{{ '/resume.html' | relative_url }}">RESUME</a></li>
      </ul>
    </div>
  </div>
</nav>
