
<nav class="navbar navbar-default shadow-sm custom-navbar">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
        aria-expanded="false">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand custom-brand" href="{{ '/' | relative_url }}">
        <img src="{{ '/static/img/lnl4.png' | relative_url }}" alt="Home Icon" style="width: 16px; height: 16px; vertical-align: middle;"/>
        <span class="hidden-xs"> ABOUT ME</span>
      </a>
    </div>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav navbar-right">
        <!--<li><a href="{{ site.url }}blogs.html">BLOG</a></li>-->
        <li><a href="{{ '/services.html' | relative_url }}">SERVICES</a></li>
        <li><a href="{{ '/publications.html' | relative_url }}">PUBLICATIONS</a></li>
        <li><a href="{{ '/projects.html' | relative_url }}">PROJECTS</a></li>
        <li><a href="{{ '/resume.html' | relative_url }}">RESUME</a></li>
      </ul>
    </div>
    <hr/>
  </div>
</nav>
