
<nav class="navbar navbar-default shadow-sm custom-navbar">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
        aria-expanded="false">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand custom-brand" href="{{ site.baseurl }}/index.html">
        <i class="fa fa-home"></i><span class="hidden-xs"> ABOUT ME</span>
      </a>
    </div>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav navbar-right">
        <!--<li><a href="{{ site.url }}blogs.html">BLOG</a></li>-->
        <li><a href="{{ site.baseurl }}/services.html">SERVICES</a></li>
        <li><a href="{{ site.baseurl }}/publications.html">PUBLICATIONS</a></li>
        <li><a href="{{ site.baseurl }}/projects.html">PROJECTS</a></li>
        <li><a href="{{ site.baseurl }}/resume.html">RESUME</a></li>
      </ul>
    </div>
    <hr/>
  </div>
</nav>