<section class="thirteen columns">
    <h1>Languages</h1>
    <article>
        <header>
            <h1>English</h1>
        </header>
        <p><em>Intermediate level (read, written, spoken)</em></p>
    </article>
    <article>
        <header>
            <h1>French</h1>
        </header>
        <p><em>Intermediate level (read, written, spoken - DELF B1)</em></p>
    </article>
    <article>
        <header>
            <h1>Vietnamese</h1>
        </header>
        <p><em>Native Language</em></p>
    </article>
</section>