<section>
    <div class="section-header">
        <span class="section-header-title"><i class="fas fa-comments section-header-icon" aria-hidden="true"></i>LANGUAGES</span>
      </div>
      <div class="language-grid">

        <div class="language-item">
          <h5>English</h5> <span class="badge badge-fluent">Fluent</span>
        </div>
    
        <div class="language-item">
          <h5>French</h5> <span class="badge badge-fluent">Fluent</span>
        </div>
    
        <div class="language-item">
              <h5>Vietnamese</h5>
              <span class="badge badge-native">Native</span>
          </div>
    
      </div>
</section>
