<section id="projects">
<div class="container">
  
	<h2 class="section-title mb-4"><i class="fa fa-folder-open  fa-xs"></i>&nbsp;PROJECTS</h2>

	<div class="section-header d-flex justify-content-between align-items-center">
		<span>Vehicle Recommender System Project</span>
	  </div>
  <div class="panel-default">
    <div class="panel-body">
		<h5>
		  
		  <div class="div-justify-pub">
			<span class="icon"><i class="fa fa-caret-right"></i></span>
  			<span class="text">Comprehensive analysis of various recommender system algorithms tailored for the vehicle domain.</span>
		</div>
		  
		  <div class="div-justify-pub">
			<span class="icon"><i class="fa fa-caret-right"></i></span>
  			<span class="text">Integration of user preferences, historical interactions, and semantic understanding of vehicle features.
			</span>
		 </div>
		  
		  <div class="div-justify-pub">
			<span class="icon"><i class="fa fa-caret-right"></i></span>
  			<span class="text">Development of personalized models considering make, model, and contextual factors.
		  </span>
			</div>
		  
		  <div class="div-justify-pub">
			<span class="icon"><i class="fa fa-caret-right"></i></span>
  			<span class="text">Use of ontologies to represent complex relationships and better capture user intent.
			</span>
			</div>
		  
		  <div class="div-justify-pub">
			<span class="icon"><i class="fa fa-caret-right"></i></span>
  			<span class="text">Research on semantic similarity estimation between vehicles beyond basic attributes.
			</span>
			</div>
		  
		  <div class="div-justify-pub">
			<span class="icon"><i class="fa fa-caret-right"></i></span>
  			<span class="text">Development of a personalized, context-aware vehicle recommendations aligned with unique user needs.
		  </span>
			</div>
		  <div class="div-justify-pub">
			<span class="icon"><i class="fa fa-caret-right"></i></span>
  			<span class="text">Github link to the Vehicle Recommender System Project: <a href="https://github.com/lengocluyen/vivo_portals" target="_blank" class="githublink">Vivo_portals</a>
		  </span>
			</div>
		</h5>
</div>
  </div>

  <div class="section-header d-flex justify-content-between align-items-center">
	<span>SYSPHERICE Project</span>
  </div>
  <div class="panel-default">
    <div class="panel-body">
		<h5>
		  
		  <div class="div-justify-pub">
			<i class="fa fa-caret-right"></i>&nbsp;Focus on the study of genetic and phenotypic diversity in Asian and African rice varieties.
		  </div>
		  
		  <div class="div-justify-pub">
			<i class="fa fa-caret-right"></i>&nbsp;Challenges addressed: handling large, heterogeneous datasets stored in varied formats.
		  </div>
		  
		  <div class="div-justify-pub">
			<i class="fa fa-caret-right"></i>&nbsp;Developed a generic integration and indexing tool to streamline data navigation, sharing, and annotation.
		  </div>
		  <div class="div-justify-pub">
			<i class="fa fa-caret-right"></i>&nbsp;GitHub link to the SYSPHERICE Project:  <a href="https://github.com/lengocluyen/Syspherice" target="_blank"> Syspherice</i></a>
		  </div>
		</h5>
	</div>
</div>	

<div class="section-header d-flex justify-content-between align-items-center">
	<span>Terms Extracting</span>
  </div>
<div class="panel-default">
    <div class="panel-body">
    <h5>
	  
	  <div class="div-justify-pub">
		<i class="fa fa-caret-right"></i>&nbsp;Developed a tool to extract concepts and terms from PDF text files.
	  </div>
	  
	  <div class="div-justify-pub">
		<i class="fa fa-caret-right"></i>&nbsp;Used POS tagging to identify meaningful patterns in input sentences.
	  </div>
	  
	  <div class="div-justify-pub">
		<i class="fa fa-caret-right"></i>&nbsp;Incorporated frequency analysis to detect commonly occurring terms in general context.
	  </div>
	  
	  <div class="div-justify-pub">
		<i class="fa fa-caret-right"></i>&nbsp;Generated a triplet dataset matching the standard Subject–Verb–Object (SVO) structure.
	  </div>
	  <div class="div-justify-pub">
		<i class="fa fa-caret-right"></i>&nbsp;GitHub link to the Terms Extracting: 
		  <a href="https://github.com/lengocluyen/semanticextraction" target="_blank">
			Semanticextraction
		  </a>
	  </div>
		</h5>
	</div>
</div>	
		<div class="section-header d-flex justify-content-between align-items-center">
			<span>The French CCG Corpus</span>
		  </div>
		  <div class="panel-default">
			<div class="panel-body">
			<h5>
		  
		  <div class="div-justify-pub">
			<i class="fa fa-caret-right"></i>&nbsp;Combinatory Categorial Grammars (CCG) serve as a bridge between surface syntax and semantic representations.
		  </div>
		  
		  <div class="div-justify-pub">
			<i class="fa fa-caret-right"></i>&nbsp;Introduced a novel method to generate CCG derivation trees from dependency syntax trees, focused on the French language.
		  </div>
		  
		  <div class="div-justify-pub">
			<i class="fa fa-caret-right"></i>&nbsp;Developed a binarization algorithm to convert dependency tree structures into binary trees.
		  </div>
		  
		  <div class="div-justify-pub">
			<i class="fa fa-caret-right"></i>&nbsp;Assigned lexical categories by leveraging context and dependency relations of words and POS tags.
		  </div>
		  
		  <div class="div-justify-pub">
			<i class="fa fa-caret-right"></i>&nbsp;Generated full CCG derivations using binary structures and CCG combinatory rules.
		  </div>
		  
		  <div class="div-justify-pub">
			<i class="fa fa-caret-right"></i>&nbsp;Evaluation performed on the 21,550-sentence French Treebank Corpus.
		  </div>
		  <div class="div-justify-pub">
			<i class="fa fa-caret-right"></i>&nbsp;GitHub link to the French CCG Corpus: 
			  <a href="https://github.com/lengocluyen/FrenchCCGBank" target="_blank">
				FrenchCCGBank
			  </a>
		  </div>
		</h5>
	</div>
</div>

<div class="section-header d-flex justify-content-between align-items-center">
	<span>CCG Supertagging Task</span>
  </div>
<div class="panel-default">
    <div class="panel-body">
		<h5>
		  
		  <div class="div-justify-pub">
			<i class="fa fa-caret-right"></i>&nbsp;Used the French CCG corpus and the Groningen Treebank for English as training datasets.
		  </div>
		  
		  <div class="div-justify-pub">
			<i class="fa fa-caret-right"></i>&nbsp;Developed a new BiLSTM+CRF neural architecture for supertagging.
		  </div>
		  
		  <div class="div-justify-pub">
			<i class="fa fa-caret-right"></i>&nbsp;Incorporated morphosyntactic input features and feature correlation embeddings.
		  </div>
		  
		  <div class="div-justify-pub">
			<i class="fa fa-caret-right"></i>&nbsp;Demonstrated that dependency syntax significantly improves supertagging accuracy for French.
		  </div>
		  
		  <div class="div-justify-pub">
			<i class="fa fa-caret-right"></i>&nbsp;Results highlight the effectiveness of deep learning for inflectional languages in syntactic tasks.
		  </div>
		  <div class="div-justify-pub">
			<i class="fa fa-caret-right"></i>&nbsp;GitHub link to CCG Supertagging Task:
			  <a href="https://github.com/lengocluyen/ccg_supertagging_french" target="_blank">
				CCG Supertagging Task
			  </a>
		  </div>
		</h5>
    </div>
  </div>
</div>
</section>
