<section id="projects">
<div class="container">
  <h3>Coding Projects</h3>
  <div class="panel-default">
    <div class="panel-body">
		<h5><div class="div-justify-pub">
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="#">SYSPHERICE Project</a></strong>
			- Studies of the genetic and phenotypic diversity of Asian and African rice varieties require the manipulation of a large volume of data which are in fact heterogeneous in nature and stored in different forms. In this context, we have developed a generic integration and indexing tool in order to be able to navigate, share and annotate this data.
		</div>
		</h5>

    </div>
  </div>
</div>
</section>
