<section id="publications">
<div class="container">
	<h2 class="section-title mb-4"><i class="fa fa-book-open  fa-xs"></i>&nbsp;PUBLICATIONS</h2>

  <div class="section-header d-flex justify-content-between align-items-center">
	<span>In Peer-Reviewed Journals</span>
	<span class="badge badge-primary">3 articles</span>
  </div>

  <div class="panel-default">
    <div class="panel-body">
		<h5>
			<div class="div-justify-pub">
				<i class="fa fa-caret-right"></i>&nbsp;Ngoc Luyen Le, Marie-Hélène Abel, <strong><a href="https://link.springer.com/article/10.1007/s11280-025-01358-8"  target="_blank" rel="noopener noreferrer">Integrating context and criteria: a multi-head attention-based approach for multi-criteria group recommender systems</a></strong>, World Wide Web, Volume 28, article number 50, 2025.
			</div>
		</h5>
		<h5>
			<div class="div-justify-pub">
				<i class="fa fa-caret-right"></i>&nbsp;Ngoc Luyen Le, Marie-Hélène Abel, Philippe Gouspillou, <strong><a href="https://onlinelibrary.wiley.com/doi/10.1002/mcda.70012"  target="_blank" rel="noopener noreferrer">Enhancing Context‐Aware Recommender Systems Through Deep Feature Interaction Learning</a></strong>, Journal of Multi-Criteria Decision Analysis, 2025.
			</div>
		</h5>
		<h5>
			<div class="div-justify-pub">
				<i class="fa fa-caret-right"></i>&nbsp;Jinfeng Zhong, Ngoc Luyen Le, Elsa Negre,  Marie-Hélène Abel, <strong><a href="https://journals.sagepub.com/doi/abs/10.1177/00375497231214563"  target="_blank" rel="noopener noreferrer">Ontology-based crisis simulation system for population sheltering management</a></strong>, SIMULATION, 100(4):379-399, 2023.
			</div>
		</h5>
	</div>
  </div>

  <div class="section-header d-flex justify-content-between align-items-center">
	<span>In Book Chapters</span>
	<span class="badge badge-primary">4 chapters</span>
  </div>

  <div class="panel-default">
    <div class="panel-body">
		<h5>
			<div class="div-justify-pub">
				<i class="fa fa-caret-right"></i>&nbsp;Ngoc Luyen Le, Marie-Hélène Abel, Philippe Gouspillou, <strong><a href="https://link.springer.com/chapter/10.1007/978-3-031-51664-1_14"  target="_blank" rel="noopener noreferrer">Designing a User Contextual Profile Ontology : A Focus on the Vehicle Sales Domain</a></strong>, Lecture Notes in Business Information Processing, vol.486, Springer, 2024. 
			</div>
		</h5>
		<h5>
			<div class="div-justify-pub">
				<i class="fa fa-caret-right"></i>&nbsp;Ngoc Luyen Le, Marie-Hélène Abel, Philippe Gouspillou, <strong><a href="https://link.springer.com/chapter/10.1007/978-3-031-27762-7_35"  target="_blank" rel="noopener noreferrer">A Personalized Recommender System Based-on Knowledge Graph Embeddings</a></strong>, Lecture Notes on Data Engineering and Communications Technologies, vol. 164. Springer, 2023. 
			</div>
		</h5>

		<h5>
			<div class="div-justify-pub">
				<i class="fa fa-caret-right"></i>&nbsp;Ngoc Luyen Le, Marie-Hélène Abel, Philippe Gouspillou, <strong><a href="https://link.springer.com/chapter/10.1007/978-3-031-33258-6_42"  target="_blank" rel="noopener noreferrer">Improving Semantic Similarity Measure Within a Recommender System Based-on RDF Graphs</a></strong>, Information Technology and Systems,  Lecture Notes in Networks and Systems, vol. 691, pp. 463--474, 2023. 
			</div>
		</h5>
		<h5>
			<div class="div-justify-pub">
				<i class="fa fa-caret-right"></i>&nbsp;Ngoc Luyen Le, Marie-Hélène Abel, Philippe Gouspillou, <strong><a href="https://link.springer.com/chapter/10.1007/978-3-030-98531-8_13"  target="_blank" rel="noopener noreferrer">Towards an ontology-based recommender system for the vehicle sales area</a></strong>, Progresses in Artificial Intelligence & Robotics: Algorithms & Applications, Lecture Notes in Networks and Systems, vol. 441, pp. 126-136, 2022.
			</div>
		</h5>

	</div>
</div>
<div class="section-header d-flex justify-content-between align-items-center">
	<span>In International Peer-Reviewed Conferences</span>
	<span class="badge badge-primary">16 papers</span>
  </div>
  <div class="panel-default">
    <div class="panel-body">
		<h5>
			<div class="div-justify-pub">
				<i class="fa fa-caret-right"></i>&nbsp;Ngoc Luyen Le, Marie-Hélène Abel, <strong><a href="https://arxiv.org/abs/2510.11313"  target="_blank" rel="noopener noreferrer">Automated Skill Decomposition Meets Expert Ontologies: Bridging the Granularity Gap with LLMs</a></strong>, The International Conference on Management of Digital EcoSystems (MEDES) , Nov 2025, Ho Chi Minh City, Viet Nam.  
			</div>
		</h5>
		<h5>
			<div class="div-justify-pub">
				<i class="fa fa-caret-right"></i>&nbsp;Ngoc Luyen Le, Marie-Hélène Abel, <strong><a href="https://arxiv.org/abs/2507.18479"  target="_blank" rel="noopener noreferrer">How Well Do LLMs Predict Prerequisite Skills? Zero-Shot Comparison to Expert-Defined Concepts </a></strong>, IEEE International Conference on Systems, Man, and Cybernetics (SMC), Oct 2025, Vienna, Austria.  
			</div>
		</h5>
		<h5>
			<div class="div-justify-pub">
			  <i class="fa fa-caret-right"></i>&nbsp;Ngoc Luyen Le, Marie-Hélène Abel, Bertrand Laforge,  <strong><a href="https://inria.hal.science/hal-05151429v1"  target="_blank" rel="noopener noreferrer">Modeling and Visualizing Competency Progression: A Semantic Integration of Pedagogical Graphs and Generative AI</a></strong>,  International Meeting for Innovative Pedagogy (IMIP25),  April 2025, Compiègne, France. </div>
		  </h5>
		<h5>
			<div class="div-justify-pub">
				<i class="fa fa-caret-right"></i>&nbsp;Ngoc Luyen Le, Marie-Hélène Abel, <strong><a href="https://hal.science/hal-05001120"  target="_blank" rel="noopener noreferrer">Joint Group Profiling and Recommendation via Deep Neural Network-based Multi-Task Learning</a></strong>,  The IEEE 28th International Conference on Computer Supported Cooperative Work in Design, May 2025, Compiègne, France.
			</div>
		</h5>
		<h5>
			<div class="div-justify-pub">
				<i class="fa fa-caret-right"></i>&nbsp;Ngoc Luyen Le, Marie-Hélène Abel, <strong><a href="https://hal.science/hal-05001083"  target="_blank" rel="noopener noreferrer">Enhancing Recommender Systems Using Textual Embeddings from Pre-trained Language Models</a></strong>, The 8th International Conference on Information Technology & Systems (ICITS), 2025, Mexico City, Mexico.
			</div>
		</h5>
		<h5>
			<div class="div-justify-pub">
				<i class="fa fa-caret-right"></i>&nbsp;Ngoc Luyen Le, Marie-Hélène Abel, <strong><a href="https://inria.hal.science/hal-04961071"  target="_blank" rel="noopener noreferrer">Context-Aware Multi-Criteria Recommender Systems Using Variable Selection Networks</a></strong>, Proceedings of the 11th International Conference on Advanced Intelligent Systems and Informatics (AISI), 2025, Port Said, Egypt.
			</div>
		</h5>
		<h5>
			<div class="div-justify-pub">
				<i class="fa fa-caret-right"></i>&nbsp;Ngoc Luyen Le, Marie-Hélène Abel, <strong><a href="https://hal.science/hal-05001106"  target="_blank" rel="noopener noreferrer">From Individual to Group: Developing a Context-Aware Multi-Criteria Group Recommender System</a></strong>,  The 16th International Conference on Management of Digital EcoSystems (MEDES), 2024, Naple, Italy.
			</div>
		</h5>

		<h5>
			<div class="div-justify-pub">
				<i class="fa fa-caret-right"></i>&nbsp;Ngoc Luyen Le, Marie-Hélène Abel, Philippe Gouspillou, <strong><a href="https://hal.science/hal-04645427"  target="_blank" rel="noopener noreferrer">Exploring Weighted Property Approaches for RDF Graph Similarity Measure</a></strong>, 27th IEEE International Conference on Computer Supported Cooperative Work in Design (CSCWD), 2024, Tianjin, China.
			</div>
		</h5>
		<h5>
			<div class="div-justify-pub">
				<i class="fa fa-caret-right"></i>&nbsp;Ngoc Luyen Le, Elsa Negre, Marie-Hélène Abel, <strong><a href="https://hal.science/hal-04378722"  target="_blank" rel="noopener noreferrer">Recognizing Similar Crises through the Application of Ontology-based Knowledge Mining</a></strong>, 57th Hawaii International Conference on System Sciences (HICSS), 2024, Oahu, Hawaii, United States.
			</div>
		</h5>
		<h5>
			<div class="div-justify-pub">
				<i class="fa fa-caret-right"></i>&nbsp;Ngoc Luyen Le, Jinfeng Zhong, Elsa Negre, Marie-Hélène Abel, <strong><a href="https://hal.science/hal-04454260"  target="_blank" rel="noopener noreferrer">CORec-Cri: How collaborative and social technologies can help to contextualize crises?</a></strong>, IEEE International Conference on Systems, Man, and Cybernetics (SMC), 2023, Oahu, Hawaii, United States.  
			</div>
		</h5>

		<h5>
			<div class="div-justify-pub">
				<i class="fa fa-caret-right"></i>&nbsp;Ngoc Luyen Le, Marie-Hélène Abel,  Philippe Gouspillou,  <strong><a href="https://hal.science/hal-04454269"  target="_blank" rel="noopener noreferrer">Combining Embedding-Based and Semantic-Based Models for Post-hoc Explanations in Recommender Systems</a></strong>, IEEE International Conference on Systems, Man, and Cybernetics (SMC), 2023, Oahu, Hawaii, United States.  
			</div>
		</h5>

		<h5>
			<div class="div-justify-pub">
				<i class="fa fa-caret-right"></i>&nbsp;Ngoc Luyen Le, Jinfeng Zhong, Elsa Negre, Marie-Hélène Abel,   <strong><a href="https://scholarspace.manoa.hawaii.edu/server/api/core/bitstreams/cc2753a1-fa6a-4f6a-8f35-a4275214816d/content"  target="_blank" rel="noopener noreferrer">Constraint-based recommender system for crisis management simulations</a></strong>, 56th Hawaii International Conference on System Sciences (HICSS), 2023, Maui, Hawaii, United States.  
			</div>
		</h5>

		<h5>
			<div class="div-justify-pub">
				<i class="fa fa-caret-right"></i>&nbsp;Ngoc Luyen Le, Marie-Hélène Abel, Philippe Gouspillou,   <strong><a href="https://ieeexplore.ieee.org/abstract/document/10152701"  target="_blank" rel="noopener noreferrer">A Constraint-based Recommender System via RDF Knowledge Graphs</a></strong>, 26th International Conference on Computer Supported Cooperative Work in Design (CSCWD), 2023, Rio de Janeiro, Brazil.   
			</div>
		</h5>

		<h5>
			<div class="div-justify-pub">
				<i class="fa fa-caret-right"></i>&nbsp;Ngoc Luyen Le, Yannis Haralambous, Philippe Lenca, <strong><a href="https://hal.science/hal-02280800/"  target="_blank" rel="noopener noreferrer">Towards a DRS Parsing Framework for French</a></strong>, Six International Conference on Social Networks Analysis, Management and Security (SNAMS), 2019, Granada, Spain.
			</div>
		</h5>
		<h5>
			<div class="div-justify-pub">
				<i class="fa fa-caret-right"></i>&nbsp;Ngoc Luyen Le, Yannis Haralambous, <strong><a href="https://link.springer.com/chapter/10.1007/978-3-031-24337-0_43"  target="_blank" rel="noopener noreferrer">CCG Supertagging Using Morphological and Dependency Syntax Information</a></strong>, Proceedings of the 20th International Conference on Computational Linguistics and Intelligent Text Processing (CICLING), 2019, La Rochelle, France.
			</div>
		</h5>

		<h5>
			<div class="div-justify-pub">
				<i class="fa fa-caret-right"></i>&nbsp;Ngoc Luyen Le, Anne Tireau, Aravind Venkatesan, Pascal Neveu, Pierre Larmande <strong><a href="https://hal.science/hal-01411565v1"  target="_blank" rel="noopener noreferrer">Development of a knowledge system for Big Data: Case study to plant phenotyping data</a></strong>, Proceedings of the 6th International Conference on Web Intelligence, Mining and Semantics (WIMS'16), 2016, Nimes, France.
			</div>
		</h5>
		
    </div>
  </div>

  <div class="section-header d-flex justify-content-between align-items-center">
	<span>In National Peer-Reviewed Conferences</span>
	<span class="badge badge-primary">6 papers</span>
  </div>
    <div class="panel-default">
      <div class="panel-body">
		<h5>
			<div class="div-justify-pub">
			  <i class="fa fa-caret-right"></i>&nbsp;Ngoc Luyen Le, Marie-Hélène Abel, Bertrand Laforge,  <strong><a href="https://hal.science/hal-05147866v1"  target="_blank" rel="noopener noreferrer">Vers un cadre ontologique pour la gestion des compétences : à des fins de formation, de recrutement, de métier, ou de recherches associées</a></strong>, 36es Journées francophones d'Ingénierie des Connaissances (IC 2025) @ Plate-Forme Intelligence Artificielle (PFIA), 2025, Dijon, France. </div>
		  </h5>
      <h5>

		<h5>
			<div class="div-justify-pub">
			  <i class="fa fa-caret-right"></i>&nbsp;Ngoc Luyen Le, Gildas Tagny Ngompé,  <strong><a href="https://hal.science/hal-04919844v"  target="_blank" rel="noopener noreferrer">Extraction de relations multi-étiquettes en utilisant des modèles pré-entraînés et des couches de Transformer</a></strong>, Actes de l'atelier TextMine 2025, La conférence Extraction et Gestion des Connaissances (EGC), 2025, Strabourg, France. </div>
		  </h5>
      <h5>
		<h5>
			<div class="div-justify-pub">
			  <i class="fa fa-caret-right"></i>&nbsp;Jinfeng Zhong, Ngoc Luyen Le, Elsa Negre, Marie-Hélène Abel,  <strong><a href="http://inforsid.fr/actes/2024/inforsid24-57-58.pdf"  target="_blank" rel="noopener noreferrer">Système de simulations de crises, basé sur une ontologie, pour la mise à l'abri des populations</a></strong>, 42ème édition INFormatique des ORganisations et Systèmes d’Information et de Décision (INFORSID), 2024, Nancy, France. </div>
		  </h5>
      <h5>
        <div class="div-justify-pub">
          <i class="fa fa-caret-right"></i>&nbsp;Ngoc Luyen Le, Marie-Hélène Abel, Philippe Gouspillou,  <strong><a href="https://arxiv.org/pdf/2306.03247"  target="_blank" rel="noopener noreferrer">Construction d'un système de recommandation basé sur des contraintes via des graphes de connaissances</a></strong>, 34es Journées francophones d'Ingénierie des Connaissances (IC 2023) @ Plate-Forme Intelligence Artificielle (PFIA), 2023, Strasbourg, France. </div>
      </h5>
	  <h5>
        <div class="div-justify-pub">
          <i class="fa fa-caret-right"></i>&nbsp;Ngoc Luyen Le, Jinfeng Zhong, Elsa Negre, Marie-Hélène Abel,  <strong><a href="https://arxiv.org/pdf/2306.01504"  target="_blank" rel="noopener noreferrer">Système de recommandations basé sur les contraintes pour les simulations de gestion de crise</a></strong>, 34es Journées francophones d'Ingénierie des Connaissances (IC 2023) @ Plate-Forme Intelligence Artificielle (PFIA), 2023, Strasbourg, France. </div>
      </h5>

      <h5>
        <div class="div-justify-pub">
          <i class="fa fa-caret-right"></i>&nbsp;Ngoc Luyen Le, Marie-Hélène Abel, Philippe Gouspillou,  <strong><a href="https://arxiv.org/pdf/2205.12539"  target="_blank" rel="noopener noreferrer">Apport des ontologies pour le calcul de la similarité sémantique au sein d’un système de recommandation</a></strong>, 33es Journées francophones d'Ingénierie des Connaissances (IC 2022) @ Plate-Forme Intelligence Artificielle (PFIA), 2022, Saint-Étienne, France. </div>
	  </h5>
	  </div>
	  </div>
	  <div class="section-header d-flex justify-content-between align-items-center">
		<span>In Conference Posters</span>
		<span class="badge badge-primary">2 posters</span>
	  </div>
    <div class="panel-default">
      <div class="panel-body">
		<h5>
			<div class="div-justify-pub">
				<i class="fa fa-caret-right"></i>&nbsp;Ngoc Luyen Le, Yannis Haralambous, Philippe Lenca, <strong><a href="http://dx.doi.org/10.13140/RG.2.2.22822.24644"  target="_blank" rel="noopener noreferrer">Détection du Déficit d'Information dans un Fil de Discussion</a></strong>, Séminaire du Département d’Informatique de l’IMT Atlantique, 2018, L’Aberwrac’h, France.
			</div>
		</h5>
		<h5>
			<div class="div-justify-pub">
				<i class="fa fa-caret-right"></i>&nbsp;Ngoc Luyen Le, Stéphane Jouannic, Pascal Gantet, Pierre Larmande, <strong><a href="https://inria.hal.science/lirmm-01274707/"  target="_blank" rel="noopener noreferrer">Development of a generic indexing tool to optimize the use of biological data</a></strong>, Journées Ouvertes Biologie Informatique Mathématiques (JOBIM'15), 2015, Clérmont-Ferrand, France.
			</div>
		</h5>
      </div>
    </div>

	<div class="section-header d-flex justify-content-between align-items-center">
		<span>Theses</span>
		<span class="badge badge-primary">PhD & Master's Work</span>
	  </div>

    <div class="panel-default">
      <div class="panel-body">
      <h5>
        <div class="div-justify-pub">
          <i class="fa fa-caret-right"></i>&nbsp;Ngoc Luyen Le, <strong><a href="https://theses.hal.science/tel-03132658/"  target="_blank" rel="noopener noreferrer">French Language DRS Parsing</a></strong>, Phd thesis defense, Presented on September 15, 2020, IMT Atlantique, Brest. <a href="https://drive.google.com/file/d/1XJcZMBND2y4uXkqRpPKpjlNTtUaZFd7p/view?usp=sharing"  target=”_blank” >Slides</a>
        </div>
      </h5>
      <h5>
        <div class="div-justify-pub">
          <i class="fa fa-caret-right"></i>&nbsp;Ngoc Luyen Le, <strong><a href="https://repository.vnu.edu.vn/bitstream/VNU_123/9876/1/Le%20Ngoc%20Luyen%20-memoire.pdf"  target="_blank" rel="noopener noreferrer">Développement d'un système connaissances pour les big data: application aux données de phénotypage chez le riz (O.Sativa)</a></strong>, Master thesis defense, Presented on November 30, 2015, IFI, Ha Noi. <a href="https://drive.google.com/file/d/11BWrHkAosKGbwdz8giC6DPgvU1TzYhuA/view?usp=sharing"  target=”_blank” >Slides</a>
        </div>
	  </h5>
	  
      </div>
    </div>
</div>
</section>
