<section id="publications">
<div class="container">
  <h3>Journal Publications</h3>
  <div class="panel-default">
    <div class="panel-body">
		<h5>
			<div class="div-justify-pub">
				<i class="fa fa-globe"></i>&nbsp;&nbsp;J. Zhong, N. L. Le, E. Negre et M.-H. Abel, <strong><a href="#">Ontology-based crisis simulation system for population sheltering management</a></strong>, SIMULATION, 2023.
			</div>
		</h5>
	</div>
  </div>

  <h3>Book Chapters</h3>
  <div class="panel-default">
    <div class="panel-body">
		<h5>
			<div class="div-justify-pub">
				<i class="fa fa-globe"></i>&nbsp;&nbsp;N. L. Le, M.-H. Abel et P. Gouspillou, <strong><a href="#">Designing a User Contextual Profile Ontology : A Focus on the Vehicle Sales Domain</a></strong>, Lecture Notes in Business Information Processing, 2023. 
			</div>
		</h5>
		<h5>
			<div class="div-justify-pub">
				<i class="fa fa-globe"></i>&nbsp;&nbsp;N. L. Le, M.-H. Abel et P. Gouspillou, <strong><a href="#">A Personalized Recommender System Based-on Knowledge Graph Embeddings</a></strong>, Lecture Notes on Data Engineering and Communications Technologies, vol 164. Springer,2023. 
			</div>
		</h5>

		<h5>
			<div class="div-justify-pub">
				<i class="fa fa-globe"></i>&nbsp;&nbsp;N. L. Le, M.-H. Abel et P. Gouspillou, <strong><a href="#">Improving Semantic Similarity Measure Within a Recommender System Based-on RDF Graphs</a></strong>, Information Technology and Systems, pp. 463--474, Lecture Notes in Networks and Systems, volume 691, 2023. 
			</div>
		</h5>
		<h5>
			<div class="div-justify-pub">
				<i class="fa fa-globe"></i>&nbsp;&nbsp;N. L. Le, M.-H. Abel et P. Gouspillou, <strong><a href="#">Towards an ontology-based recommender system for the vehicle sales area</a></strong>, Progresses in Artificial Intelligence & Robotics: Algorithms & Applications. ICDLAIR 2021. Lecture Notes in Networks and Systems, vol. 441, pp. 126-136, 2022.
			</div>
		</h5>

	</div>
</div>
<h3>International Conferences</h3>
  <div class="panel-default">
    <div class="panel-body">

		<h5>
			<div class="div-justify-pub">
				<i class="fa fa-globe"></i>&nbsp;&nbsp;N. L. Le, E. Negre et M.-H. Abel, <strong><a href="#">Recognizing Similar Crises through the Application of Ontology-based Knowledge Mining</a></strong>, 57th Hawaii International Conference on System Sciences (HICSS 2024).
			</div>
		</h5>
		<h5>
			<div class="div-justify-pub">
				<i class="fa fa-globe"></i>&nbsp;&nbsp;N. L. Le, J. Zhong, E. Negre et M.-H. Abel, <strong><a href="#">CORec-Cri: How collaborative and social technologies can help to contextualize crises?</a></strong>, IEEE International Conference on Systems, Man, and Cybernetics (SMC), 2023.  
			</div>
		</h5>

		<h5>
			<div class="div-justify-pub">
				<i class="fa fa-globe"></i>&nbsp;&nbsp;N. L. Le, M.-H. Abel et P. Gouspillou,  <strong><a href="#">Combining Embedding-Based and Semantic-Based Models for Post-hoc Explanations in Recommender Systems</a></strong>, IEEE International Conference on Systems, Man, and Cybernetics (SMC), 2023.  
			</div>
		</h5>

		<h5>
			<div class="div-justify-pub">
				<i class="fa fa-globe"></i>&nbsp;&nbsp;N. L. Le, J. Zhong, E. Negre et M.-H. Abel,   <strong><a href="#">Constraint-based recommender system for crisis management simulations</a></strong>, 56th Hawaii International Conference on System Sciences (HICSS 2023).  
			</div>
		</h5>

		<h5>
			<div class="div-justify-pub">
				<i class="fa fa-globe"></i>&nbsp;&nbsp;N. L. Le, M.-H. Abel et P. Gouspillou,   <strong><a href="#">A Constraint-based Recommender System via RDF Knowledge Graphs</a></strong>, 26th International Conference on Computer Supported Cooperative Work in Design (CSCWD), 2023.   
			</div>
		</h5>

		<h5>
			<div class="div-justify-pub">
				<i class="fa fa-globe"></i>&nbsp;&nbsp;N. L. LE, Yannis Haralambous, Philippe Lenca, <strong><a href="#">Towards a DRS Parsing Framework for French</a></strong>, Six International Conference on Social Networks Analysis, Management and Security (SNAMS), 2019, Granada, Spain.
			</div>
		</h5>
		<h5>
			<div class="div-justify-pub">
				<i class="fa fa-globe"></i>&nbsp;&nbsp;N. L. LE, Yannis Haralambous, <strong><a href="#">CCG Supertagging Using Morphological and Dependency Syntax Information</a></strong>, Proceedings of the 20th International Conference on Computational Linguistics and Intelligent Text Processing (CICLING), 2019, La Rochelle, France.
			</div>
		</h5>
		<h5>
			<div class="div-justify-pub">
				<i class="fa fa-globe"></i>&nbsp;&nbsp;N. L. LE, Yannis Haralambous, Philippe Lenca, <strong><a href="#">Détection du Déficit d'Information dans un Fil de Discussion</a></strong>, Séminaire du Département d’Informatique de l’IMT Atlantique, 2018, L’Aberwrac’h, France.
			</div>
		</h5>

		<h5>
			<div class="div-justify-pub">
				<i class="fa fa-globe"></i>&nbsp;&nbsp;N. L. LE, Anne Tireau, Aravind Venkatesan, Pascal Neveu, Pierre Larmande <strong><a href="#">Development of a knowledge system for Big Data: Case study to plant phenotyping data</a></strong>, Proceedings of the 6th International Conference on Web Intelligence, Mining and Semantics (WIMS'16), 2016, Nimes, France.
			</div>
		</h5>
		<h5>
			<div class="div-justify-pub">
				<i class="fa fa-globe"></i>&nbsp;&nbsp;N. L. LE, Stéphane Jouannic, Pascal Gantet, Pierre Larmande, <strong><a href="#">Development of a generic indexing tool to optimize the use of biological data</a></strong>, Journées Ouvertes Biologie Informatique Mathématiques (JOBIM'15), 2015, Clérmont-Ferrand, France.
			</div>
		</h5>
    </div>
  </div>

  <h3>National Conferences</h3>
    <div class="panel-default">
      <div class="panel-body">
      <h5>
        <div class="div-justify-pub">
          <i class="fa fa-globe"></i>&nbsp;&nbsp;N. L. Le, M.-H. Abel et P. Gouspillou,  <strong><a href="#">Construction d'un système de recommandation basé sur des contraintes via des graphes de connaissances</a></strong>, Ingénierie des Connaissances (Evènement affilié à PFIA'23 Plate-Forme Intelligence Artificielle), 2023. </div>
      </h5>
	  <h5>
        <div class="div-justify-pub">
          <i class="fa fa-globe"></i>&nbsp;&nbsp;N. L. Le, J. Zhong, E. Negre et M.-H Abel, ,  <strong><a href="#">Système de recommandations basé sur les contraintes pour les simulations de gestion de crise</a></strong>, Ingénierie des Connaissances (Evènement affilié à PFIA'23 Plate-Forme Intelligence Artificielle), 2023. </div>
      </h5>

      <h5>
        <div class="div-justify-pub">
          <i class="fa fa-globe"></i>&nbsp;&nbsp;N. L. Le, M.-H. Abel et P. Gouspillou,  <strong><a href="#">Apport des ontologies pour le calcul de la similarité sémantique au sein d’un système de recommandation</a></strong>, Ingénierie des Connaissances (Evènement affilié à PFIA’22 Plate-Forme Intelligence Artificielle), 2022. </div>
	  </h5>
	  
      </div>
    </div>

  <h3>Phd and Master Thesis</h3>
    <div class="panel-default">
      <div class="panel-body">
      <h5>
        <div class="div-justify-pub">
          <i class="fa fa-globe"></i>&nbsp;&nbsp;N. L. Le, <strong><a href="#">French Language DRS Parsing</a></strong>, Phd thesis defense, Presented on September 15, 2020, IMT Atlantique, Brest. <a href="https://drive.google.com/file/d/1z1Y-az-eqhZA6pvyLsxBQIW7qYZ1X11e/view?usp=sharing"  target=”_blank” >Manuscript</a> - <a href="https://drive.google.com/file/d/1XJcZMBND2y4uXkqRpPKpjlNTtUaZFd7p/view?usp=sharing"  target=”_blank” >Slides</a>
        </div>
      </h5>
      <h5>
        <div class="div-justify-pub">
          <i class="fa fa-globe"></i>&nbsp;&nbsp;N. L. Le, <strong><a href="#">Développement d'un système connaissances pour les big data: application aux données de phénotypage chez le riz (O.Sativa)</a></strong>, Master thesis defense, Presented on November 30, 2015, IFI, Ha Noi. <a href="https://repository.vnu.edu.vn/bitstream/VNU_123/9876/1/Le%20Ngoc%20Luyen%20-memoire.pdf"  target=”_blank” >Manuscript</a> - <a href="https://drive.google.com/file/d/11BWrHkAosKGbwdz8giC6DPgvU1TzYhuA/view?usp=sharing"  target=”_blank” >Slides</a>
        </div>
	  </h5>
	  
      </div>
    </div>
</div>
</section>
