<section id="services">
    <div class="container">
        
	<h2 class="section-title mb-4"><i class="fa fa-briefcase  fa-xs"></i>&nbsp;SERVICES</h2>

<!-- Supervision Section -->
<div class="section-header d-flex justify-content-between align-items-center mt-4">
  <span>Supervision: Bachelor's / Engineering / Master's Theses</span>
  <span class="badge badge-primary">4 Projects</span>
</div>

<!-- Project 1 -->
<div class="supervision-entry" style="margin-top:30px">
    <p class="supervision-meta d-flex justify-content-between align-items-center">
        <span class="meta-left">
          <i class="fa fa-university"></i>
          UTC (Heudiasyc Lab)
        </span>
        <span class="meta-right">
          Engineering Program (2024-2025)
        </span>
      </p>
      <p class="supervision-topic">
        <i class="fa fa-lightbulb"></i>
        Topic:
        <em>Comparison and Evaluation of Methods for Calculating Semantic Similarity on RDF Data</em>
      </p>
  <p class="supervision-topic">
    <i class="fa fa-user"></i>
    Student:  <em>Soudarsane Tillai</em>
    <a href="mailto:soudarsane.tillai@etu.utc.fr" class="email-icon" title="Email">
      <i class="fa fa-envelope"></i>
    </a>
  </p>
</div>

<!-- Project 2 -->
<div class="supervision-entry" style="margin-top:30px">
    <p class="supervision-meta d-flex justify-content-between align-items-center">
        <span class="meta-left">
          <i class="fa fa-university"></i>
          UTC (Heudiasyc Lab)
        </span>
        <span class="meta-right">
            Master's Program (2023-2024, Semester II)
        </span>
      </p>
      <p class="supervision-topic">
        <i class="fa fa-lightbulb"></i>
        Topic:
        <em>Improvement and Optimization of a Vehicle Recommender System via a Mobile Application</em>
      </p>
  <p class="supervision-topic">
    <i class="fa fa-user"></i>
    Student: Adam Hafiz Bin Ahmad
    <a href="mailto:adam-hafiz.bin-ahmad@etu.utc.fr" class="email-icon" title="Email"><i class="fa fa-envelope"></i></a>, Xinghua Shao <a href="mailto:xinghua.shao@etu.utc.fr" class="email-icon" title="Email"><i class="fa fa-envelope"></i></a>, Edouard Le <a href="mailto:edouard.le@etu.utc.fr" class="email-icon" title="Email"><i class="fa fa-envelope"></i></a>
  </p>
</div>

<!-- Project 3 -->
<div class="supervision-entry" style="margin-top:30px">
    <p class="supervision-meta d-flex justify-content-between align-items-center">
        <span class="meta-left">
          <i class="fa fa-university"></i>
          UTC (Heudiasyc Lab)
        </span>
        <span class="meta-right">
            Master's Program (2023-2024, Semester I)
        </span>
      </p>
      <p class="supervision-topic">
        <i class="fa fa-lightbulb"></i>
        Topic:
        <em>Used Vehicle Search Application Using a Recommender System</em>
      </p>
  <p class="supervision-topic">
    <i class="fa fa-user"></i>
    Student: Adam Hafiz Bin Ahmad <a href="mailto:adam-hafiz.bin-ahmad@etu.utc.fr" class="email-icon" title="Email"><i class="fa fa-envelope"></i></a>, Xinghua Shao <a href="mailto:xinghua.shao@etu.utc.fr" class="email-icon" title="Email"><i class="fa fa-envelope"></i></a>, Cheng Xu
    <a href="mailto:cheng.xu@etu.utc.fr" class="email-icon" title="Email"><i class="fa fa-envelope"></i></a>
  </p>
</div>

<!-- Project 4 -->
<div class="supervision-entry" style="margin-top:30px">
    <p class="supervision-meta d-flex justify-content-between align-items-center">
        <span class="meta-left">
          <i class="fa fa-university"></i>
          UTC (Heudiasyc Lab)
        </span>
        <span class="meta-right">
            Master's Program (2022–2023)
            <small class="text-muted">(20h tutorials, Grade: <strong>24.5/30 UTP</strong>)</small>
        </span>
      </p>
      <p class="supervision-topic">
        <i class="fa fa-lightbulb"></i>
        Topic:
        <em>Learning User-Item Relationships from Knowledge Graphs</em>
      </p>
  <p class="supervision-topic">
    <i class="fa fa-user"></i>
    Student: Mohamed Ibrahim Attala <a href="mailto:mohamed-ibrahim.attala@etu.utc.fr" class="email-icon" title="Email"><i class="fa fa-envelope"></i></a>, Ambra Zajsi
    <a href="mailto:ambra.zajsi@etu.utc.fr" class="email-icon" title="Email"><i class="fa fa-envelope"></i></a>, Ermal Belul <a href="mailto:ermal.belul@etu.utc.fr" class="email-icon" title="Email"><i class="fa fa-envelope"></i></a>, Hedil Maatoug
    <a href="mailto:hedil.maatoug@etu.utc.fr" class="email-icon" title="Email"><i class="fa fa-envelope"></i></a>, El Hadj Mohamedou <a href="mailto:el-hadj.mohamedou@etu.utc.fr" class="email-icon" title="Email">
      <i class="fa fa-envelope"></i>
    </a>
  </p>
  <div style="margin-bottom:40px;clear:both"></div>
</div>

<!-- Services Section -->
<div class="section-header d-flex justify-content-between align-items-center mt-5">
    <span>Scientific Services</span>
    <span class="badge badge-primary">8 Services</span>
  </div>
  
  <!-- Reviewer Role -->
  <h5 class="service-subtitle mt-4"  style="margin-bottom:0;"><i class="fa fa-user  text-info"></i>&nbsp; Reviewer</h5>
    <div class="panel-default">
    <div class="panel-body">
      <h5>
                    <div class="div-justify-pub">
                        <i class="fa fa-caret-right"></i>&nbsp; Engineering Reports, 2025, Journal Site:  <a href="https://onlinelibrary.wiley.com/journal/25778196" title="Home">https://onlinelibrary.wiley.com/journal/25778196</a>
                      </div>
    </h5>
      <h5>
                    <div class="div-justify-pub">
                        <i class="fa fa-caret-right"></i>&nbsp;The International Conference on Electrical and Computer Engineering Researches (ICECER), December 2025, Madagascar.</div>
    </h5>
  <h5>
                    <div class="div-justify-pub">
                        <i class="fa fa-caret-right"></i>&nbsp;The 5th International Conference on Electrical, Computer, Communications and Mechatronics Engineering (ICECCME), October 2025, Zanzibar, Tanzania.</div>
    </h5>

       <h5>
                    <div class="div-justify-pub">
                        <i class="fa fa-caret-right"></i>&nbsp;The PeerJ Computer Science Journal, 2025.</div>
    </h5>

  <h5>
                    <div class="div-justify-pub">
                        <i class="fa fa-caret-right"></i>&nbsp;IEEE Conference on Systems, Man, and Cybernetics (SMC), October 2025, Vienna, Austria.</div>
    </h5>

      <h5>
    <div class="div-justify-pub">
        <i class="fa fa-caret-right"></i>&nbsp;The International Conference on Artificial Intelligence, Computer, Data Sciences and Applications (ACDSA), August 2025, Antalya, Türkiye.
    </div>
    </h5>

    <h5>
        <div class="div-justify-pub">
            <i class="fa fa-caret-right"></i>&nbsp;The 26th International Conference on Computer Supported Cooperative Work in Design (CSCWD), May 2025, Compiègne, France.</div>
        </h5>
    
            <h5>
                <div class="div-justify-pub">
                    <i class="fa fa-caret-right"></i>&nbsp;Journal of Multi-Criteria Decision Analysis (JMCDA), 2024.</div>
                </h5>
    <h5>
                    <div class="div-justify-pub">
                        <i class="fa fa-caret-right"></i>&nbsp;IEEE Conference on Systems, Man, and Cybernetics (SMC), October 2023, Hawaii, USA.</div>
    </h5>
    <h5>
        <div class="div-justify-pub">
            <i class="fa fa-caret-right"></i>&nbsp;International Conference on Information Technology & Systems (ICITS), April 2023, Cusco, Pérou.</div>
    </h5>
  </div>
  </div>
  <!-- Committee Role -->
  <h5 class="service-subtitle mt-4" style="margin:0;"><i class="fa fa-user  text-info"></i>&nbsp; Technical Program Committee Member</h5>
  
  <div class="panel-default">
    <div class="panel-body">
  <h5>
    <div class="div-justify-pub">
        <i class="fa fa-caret-right"></i>&nbsp;The 26th International Conference on Computer Supported Cooperative Work in Design (CSCWD), May 2025, Compiègne, France.</div>
    </h5>
    </div>
    </div>

  
    </div>
  </section>
  