<section class="thirteen columns">
    <h1>Skills</h1>
    <article>
        <header>
            <h1>Systems</h1>
        </header>
        <p><em>Linux, Window, Android</em></p>
    </article>
    <article>
        <header>
            <h1>Programming Languages</h1>
        </header>
        <p><em>Python, CSharp, Java, C/C++, ASP.NET, JSP, Prolog, SPARQL</em></p>
    </article>
    <article>
        <header>
            <h1>Tools and IDE</h1>
        </header>
        <p><em>Pycharm Community, Visual Studio, Eclipse, Scilab</em></p>
    </article>
    <article>
        <header>
            <h1>Database Management Systems</h1>
        </header>
        <p><em>MySQL, Microsoft SQL, Postgres, NoSQL (MongoDB, Neo4j)</em></p>
    </article>
    <article>
        <header>
            <h1>Analysis Tools</h1>
        </header>
        <p><em>UML, Design Patterns</em></p>
    </article>
    <article>
        <header>
            <h1>Others</h1>
        </header>
        <p><em>Tensorflow, Pytorch, Keras, Git, Latex, Markdown</em></p>
    </article>
</section>