<div class="social">
	<h5 class="icon-bar">
    {% if site.hal %}
	  <a href="https://cv.hal.science/{{ site.hal }}"><i class="ai ai-hal-square ai-3x"></i></a>
    {% endif %}

    {% if site.researchgate %}
	  <a href="https://www.researchgate.net/profile/{{ site.researchgate }}"><i class="ai ai-researchgate-square ai-3x"></i></a>
    {% endif %}

    {% if site.googlescholar %}
	  <a href="https://scholar.google.fr/citations?user={{ site.googlescholar }}"><i class="ai ai-google-scholar-square ai-3x"></i></a>
    {% endif %}

    {% if site.orcid %}
	  <a href="https://orcid.org/{{ site.orcid }}"><i class="ai ai-orcid-square ai-3x"></i>
    {% endif %}
	</h5>
</div>
